<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      おすすめのプレゼントアイディアをシェアできるアプリ
    </h2>
    <p class='service-explain'>
      Okurimonoでは大切な人へのプレゼント候補を探せます
    </p>
  </div>
  <%# /画面上部の帯部分  %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>おすすめプレゼント一覧</h2>
    <div class="subtitle" >
      新着順
    </div>
    <ul class='item-lists'>

      <% @items.each do |item| %>
        <li class='list'>
          <%= link_to item_path(item.id) do %>
            <div class='item-img-content'>
              <%= image_tag item.images[0], class: "item-img" if item.images.attached? %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= item.title %>
              </h3>
              <div class='item-price'>
                <span><%= item.price.name %>円</span>
                <%# <div class='star-btn'> %>
                  <%# <%= image_tag "star.png", class:"star-icon" %> 
                  <%# <span class='star-count'>0</span> %>
                <%# </div> %>
              </div>
            </div>
          <% end %> 
        <% end %>
      </li>
      
      <% if @items.blank? %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "sample", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              タイトル 例）○○のコスメ
            </h3>
            <div class='item-price'>
              <span>3,000~5,000円</span>
              <%# <div class='star-btn'> %>
                <%# <%= image_tag "star.png", class:"star-icon" %> 
                <%# <span class='star-count'>0</span> %>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to 'シェアする', new_item_path, class: 'purchase-btn' %>
<%= render "shared/footer" %>